body {
  background-color: #DDD; }

form {
  position: relative;
  width: 450px;
  height: 300px;
  margin: 60px auto;
  border-radius: 6px;
  background-color: #353D49;
  color: #fff;
  box-shadow: 1px 1px 4px rgba(1, 1, 1, 0.5); }
  form h4 {
    width: 100%;
    height: 65px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 2px 0 #009f79;
    padding-left: 35px;
    line-height: 65px;
    border-radius: 6px 6px 0 0;
    background-color: #00BB8E; }
    form h4 span {
      position: absolute;
      top: 0;
      right: 0;
      width: 65px;
      height: 65px;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 0 6px 0 0;
      transition: all 0.6s ease 0s; }
      form h4 span:before, form h4 span:after {
        border-right: 2px solid;
        content: '';
        display: block;
        width: 0;
        height: 22px;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: rotate(135deg); }
      form h4 span:after {
        transform: rotate(45deg); }
      form h4 span:hover {
        background: rgba(0, 0, 0, 0.2); }
  form label {
    display: block;
    padding: 10px;
    margin-top: 40px;
    text-align: center;
    color: #D4E0DD;
    font-size: 13px;
    font-weight: 400; }
  form .form-control {
    width: 90%;
    height: 38px;
    margin: 0 auto;
    padding: 6px 12px;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #626d7d;
    box-shadow: 1px 1px 2px rgba(1, 1, 1, 0.5); }
  form .btn {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    cursor: pointer;
    width: 85%;
    font-size: 18px;
    line-height: 22px;
    height: 50px;
    padding: 14px 10px;
    border: none;
    outline: none;
    transition: all 1s ease 0s;
    box-sizing: border-box; }

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
  form .rotating {
    -webkit-animation: rotating 3s linear 0s; }
  form .message {
    text-align: center;
    color: #EC4949; }
  form .message.success {
    color: #5CB85C; }
